.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  min-width: 360px;
  padding: 5px;
  z-index: 10;
  background-color: rgb(70, 6, 6);
  left: 0;
}

.icone-drinks {
  margin-left: 5px;
  width: 45px;
}

.icone-explorar {
  width: 45px;
}

.icone-meal {
  width: 45px;
  margin-right: 5px;
}