.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 360px;
  background-color: white;
}

.searchForm {
  width: 100%;
  position: fixed;
  top: 95px;
  left: 0;
  background-color: white;
  padding: 5px;
}

@media screen and (min-width: 1050px) {
  .header {
    left: 35%;
  }

  .searchForm {
    padding-left: 29%;
  }
}