.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgb(70, 6, 6);
}

.searchForm {
  width: 100%;
  position: fixed;
  top: 65px;
  left: 0;
  background-color: rgb(70, 6, 6);
  color: white;
  padding: 5px;
}

.button-search {
  border: none;
  background: none;
}

.button-search::before {
  border: none;
}


.icone-search {
  width: 45px;
}

.logo-perfil {
  width: 60px;
}

.page-title {
 font-family: 'Dancing Script', cursive;
 color: white;
}

@media screen and (min-width: 1050px) {
  .header {
    left: 35%;
  }

  .searchForm {
    padding-left: 29%;
  }
}