.container-recipes {
  width: 100%;
  height: 100%;
  /* padding: 15px; */
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#buttonGroup {
  margin: 95px 0 0 12px;
  min-width: 360px;
}
