.container-explore {
  height: 100%;
  padding-bottom: 60px;
  padding-top: 125px;
  width: 100%;
}

.container-card {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 5%;
  font-size: 12px;
  margin: auto;
  margin-top: 15px;
  padding: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
