.container-profile {
  height: 100vh;
  padding-bottom: 60px;
  padding-top: 125px;
  width: 100%;
}

.main-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-profile .btn {
  background-color: #690e0e;
  border: black;
  margin-top: 25px;
}

.email-profile {
  color: white;
  font-weight: 700;
}

.image-profile {
  background-color: whitesmoke;
  border-radius: 50%;
  margin-bottom: 15px;
  width: 100px;
}

.btn-logout {
  background-color: rgb(6, 49, 167);
  margin-top: 135px;
  width: 100px;
}
